// variables

$primary-color: #2c3e50;
$underline-color: #42a7b9;
$active-color: #42b950;
$pink: pink;
$main-font: Helvetica, Arial, sans-serif;
$tablet: 800px;
$mobile: 500px;
$large: 801px;
$margins: (
  "small": 1rem,
  "medium": 1.5rem,
  "large": 2rem,
);
$font-sizes: (
  "small": 15px,
  "medium": 25px,
  "large": 50px,
);
// Media query sizes
@mixin tablet {
  @media screen and (max-width: $tablet) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $mobile) {
    @content;
  }
}

@mixin large-only {
  @media screen and (min-width: $large) {
    @content;
  }
}

// common mix-ins

@mixin flex($content: false, $items: false, $direction: false) {
  display: flex;
  justify-content: center;
  align-items: center;

  @if $direction {
    flex-direction: $direction;
  }
  @if $content {
    justify-content: $content;
  }
  @if $items {
    align-items: $items;
  }
}

// classes

.button {
  text-decoration: none;
  padding: 10px;
  border: 1px solid $primary-color;
  transition: 0.1s ease-out;
  margin-right: 1rem;
  border-radius: 5%;
  font-size: 14px;
  &:hover {
    color: #fff;
    background-color: $primary-color;
    transition: 0.1s ease-in;
    font-size: 16px;
  }
}
